<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qa3atq8">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".halls_details" />
        <activity android:name=".halls_activity" />
        <activity android:name=".details_page" />
        <activity android:name=".explorePage" />
        <activity android:name=".loginPage" />
        <activity android:name=".wishlist" />
        <activity android:name=".reviewsPage" />
        <activity android:name=".bookingsPage" />
        <activity android:name=".profile" />
        <activity android:name=".menu" />
        <activity android:name=".done_pg"/>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>